In [1]:
import tradingeconomics as te

In [2]:
te.login("51a072f89c934bd:l011saq3ckgd3ka")

'You are logged in as a 51a072f89c934bd:l011saq3ckgd3ka'

### Without specifying the date a sample of the latest updates will be provided.

In [3]:
te.getLatestUpdates(output_type='df')

https://api.tradingeconomics.com/updates?c=51a072f89c934bd:l011saq3ckgd3ka

,Country,Category,HistoricalDataSymbol,LastUpdate
0,Gambia,Government Budget Value,GAMBIAGOVBUDVAL,2022-09-30T07:28:00
1,Cameroon,Current Account,CAMROONCURCOUNT,2022-09-30T08:24:00
2,Gambia,Current Account,GAMMBIACURCOUNT,2022-09-30T08:52:00
3,Denmark,Retirement Age Women,DENMARKRETAGEWOM,2022-09-30T09:20:00
4,Denmark,Retirement Age Men,DENMARKRETAGEMEN,2022-09-30T09:20:00
...,...,...,...,...
9995,Turkey,Retail Sales YoY,TURRETAILSALESYOY,2022-11-25T13:18:47.52
9996,Spain,Consumer Price Index CPI,SPAINCONPRIINDCPI,2022-11-25T13:19:30.32
9997,Angola,Interest Rate,ANGOLAINTRATE,2022-11-25T13:31:29.303
9998,Australia,Private Sector Credit,AUSTRALIAPRISECCRE,2022-11-25T13:32:33.093
9999,Australia,Housing Credit,AUSHOUCRE,2022-11-25T13:33:38.083

### To get latest updates using a starting date.

In [6]:
te.getLatestUpdates(init_date='2018-08-15', output_type="df")

https://api.tradingeconomics.com/updates/2018-08-15?c=51a072f89c934bd:l011saq3ckgd3ka

,Country,Category,HistoricalDataSymbol,LastUpdate
0,Gambia,Government Budget Value,GAMBIAGOVBUDVAL,2022-09-30T07:28:00
1,Cameroon,Current Account,CAMROONCURCOUNT,2022-09-30T08:24:00
2,Gambia,Current Account,GAMMBIACURCOUNT,2022-09-30T08:52:00
3,Denmark,Retirement Age Women,DENMARKRETAGEWOM,2022-09-30T09:20:00
4,Denmark,Retirement Age Men,DENMARKRETAGEMEN,2022-09-30T09:20:00
...,...,...,...,...
9995,Turkey,Retail Sales YoY,TURRETAILSALESYOY,2022-11-25T13:18:47.52
9996,Spain,Consumer Price Index CPI,SPAINCONPRIINDCPI,2022-11-25T13:19:30.32
9997,Angola,Interest Rate,ANGOLAINTRATE,2022-11-25T13:31:29.303
9998,Australia,Private Sector Credit,AUSTRALIAPRISECCRE,2022-11-25T13:32:33.093
9999,Australia,Housing Credit,AUSHOUCRE,2022-11-25T13:33:38.083

### To get latest updates by country.

In [8]:
te.getLatestUpdates(country='portugal', output_type="df")

https://api.tradingeconomics.com/updates/country/portugal?c=51a072f89c934bd:l011saq3ckgd3ka

,Country,Category,HistoricalDataSymbol,LastUpdate
0,Portugal,Competitiveness Rank,PORTUGALCOMRAN,2021-07-13T23:17:00
1,Portugal,Competitiveness Index,PORTUGALCOMIND,2021-07-13T23:17:00
2,Portugal,IP Addresses,PRTIPS,2021-07-13T23:17:00
3,Portugal,Internet Speed,PRTKBPS,2021-07-13T23:17:00
4,Portugal,Weapons Sales,PORTUGALWEASAL,2021-07-13T23:17:00
...,...,...,...,...
135,Portugal,Exports,PTTBEUEX,2022-11-23T18:31:44.87
136,Portugal,Imports,PTTBEUIM,2022-11-23T18:39:41.807
137,Portugal,Interest Rate,EURR002W,2022-11-24T13:01:00.757
138,Portugal,Coronavirus Cases,PTCOVIDCT,2022-11-25T07:28:56.23
139,Portugal,Coronavirus Deaths,PTCOVIDDT,2022-11-25T07:28:58.443

### To get latest updates by country using a starting date.

In [10]:
te.getLatestUpdates(country='portugal', init_date='2018-08-15',output_type="df")

https://api.tradingeconomics.com/updates/country/portugal/2018-08-15?c=51a072f89c934bd:l011saq3ckgd3ka

,Country,Category,HistoricalDataSymbol,LastUpdate
0,Portugal,Competitiveness Rank,PORTUGALCOMRAN,2021-07-13T23:17:00
1,Portugal,Competitiveness Index,PORTUGALCOMIND,2021-07-13T23:17:00
2,Portugal,IP Addresses,PRTIPS,2021-07-13T23:17:00
3,Portugal,Internet Speed,PRTKBPS,2021-07-13T23:17:00
4,Portugal,Weapons Sales,PORTUGALWEASAL,2021-07-13T23:17:00
...,...,...,...,...
135,Portugal,Exports,PTTBEUEX,2022-11-23T18:31:44.87
136,Portugal,Imports,PTTBEUIM,2022-11-23T18:39:41.807
137,Portugal,Interest Rate,EURR002W,2022-11-24T13:01:00.757
138,Portugal,Coronavirus Cases,PTCOVIDCT,2022-11-25T07:28:56.23
139,Portugal,Coronavirus Deaths,PTCOVIDDT,2022-11-25T07:28:58.443

### To get latest updates by date (yyyy-mm-dd) and time (hh:mm).

In [12]:
te.getLatestUpdates(init_date='2021-10-18', time='15:20', output_type="df")

https://api.tradingeconomics.com/updates/2021-10-18?c=51a072f89c934bd:l011saq3ckgd3ka&time=15:20

,Country,Category,HistoricalDataSymbol,LastUpdate
0,Gambia,Government Budget Value,GAMBIAGOVBUDVAL,2022-09-30T07:28:00
1,Cameroon,Current Account,CAMROONCURCOUNT,2022-09-30T08:24:00
2,Gambia,Current Account,GAMMBIACURCOUNT,2022-09-30T08:52:00
3,Denmark,Retirement Age Women,DENMARKRETAGEWOM,2022-09-30T09:20:00
4,Denmark,Retirement Age Men,DENMARKRETAGEMEN,2022-09-30T09:20:00
...,...,...,...,...
9995,Turkey,Retail Sales YoY,TURRETAILSALESYOY,2022-11-25T13:18:47.52
9996,Spain,Consumer Price Index CPI,SPAINCONPRIINDCPI,2022-11-25T13:19:30.32
9997,Angola,Interest Rate,ANGOLAINTRATE,2022-11-25T13:31:29.303
9998,Australia,Private Sector Credit,AUSTRALIAPRISECCRE,2022-11-25T13:32:33.093
9999,Australia,Housing Credit,AUSHOUCRE,2022-11-25T13:33:38.083