In [1]:
import tradingeconomics as te

In [2]:
te.login("51a072f89c934bd:l011saq3ckgd3ka")

'You are logged in as a 51a072f89c934bd:l011saq3ckgd3ka'

### To get intraday market data for a specific symbol run:

In [3]:
te.getMarketsIntraday(symbols='aapl:us',output_type='df')

,Symbol,Date,Open,High,Low,Close
0,Free accounts have access to the following cou...,2022-11-26T05:32:06.7215932+00:00,None,None,None,None

### To get intraday market data for a group of symbols:

In [4]:
te.getMarketsIntraday(symbols=['aapl:us','stx:us'], initDate='2018-03-13 15:30',output_type='df')

,Symbol,Date,Open,High,Low,Close
0,Free accounts have access to the following cou...,2022-11-26T05:32:51.3946129+00:00,None,None,None,None

### To get intraday market data for a specific symbol starting on certain date and time run:

In [5]:
te.getMarketsIntraday(symbols='aapl:us', initDate='2018-03-13 15:30',output_type='df')

,Symbol,Date,Open,High,Low,Close
0,Free accounts have access to the following cou...,2022-11-26T05:33:12.9425874+00:00,None,None,None,None

### To get intraday market data for a specific symbol and by init date and end date

In [6]:
te.getMarketsIntraday(symbol='aapl:us',initDate='2021-03-13', endDate='2021-03-17',output_type='df')
### Error Sysmbol

TypeError: getMarketsIntraday() got an unexpected keyword argument 'symbol'

### Aggregate intraday prices by interval.

In [7]:
te.getMarketsIntradayByInterval(symbol='aapl:us', interval='1m', initDate='2021-03-13', endDate='2021-03-17',output_type='df')

,Symbol,Date,Open,High,Low,Close
0,Free accounts have access to the following cou...,2022-11-26T05:39:13.9015952+00:00,None,None,None,None