In [1]:
import tradingeconomics as te

In [2]:
te.login("51a072f89c934bd:l011saq3ckgd3ka")

'You are logged in as a 51a072f89c934bd:l011saq3ckgd3ka'

### To get historical to symbol

In [3]:
te.getHistorical(symbol='aapl:us',output_type='df')

,Symbol,Date,Open,High,Low,Close
0,Free accounts have access to the following cou...,26/11/2022,None,None,None,None

### To get historical to multiple symbols

In [4]:
te.getHistorical(symbol=['aapl:us','gac:com'],output_type='df')

,Symbol,Date,Open,High,Low,Close
0,Free accounts have access to the following cou...,26/11/2022,None,None,None,None

### To get historical market data for specific symbol and time range:

In [5]:
te.fetchMarkets(symbol='aapl:us', initDate='2017-01-01', endDate='2017-06-15')

[{'Symbol': 'Free accounts have access to the following countries: Mexico, New Zealand, Sweden, Thailand. For more, contact us at support@tradingeconomics.com.',
  'Date': '26/11/2022',
  'Open': None,
  'High': None,
  'Low': None,
  'Close': None}]

### To get historical market data for multiple symbols and specific time range:

In [6]:
 te.fetchMarkets(symbol=['aapl:us', 'gac:com'], initDate='2017-01-01', endDate='2017-06-15')

[{'Symbol': 'Free accounts have access to the following countries: Mexico, New Zealand, Sweden, Thailand. For more, contact us at support@tradingeconomics.com.',
  'Date': '26/11/2022',
  'Open': None,
  'High': None,
  'Low': None,
  'Close': None}]